.vs/
build/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake-build-debug-visual-studio/
cmake-build-*/

android/hydrogen/app/.cxx/

android/hydrogen/app/jni.bak/

android/hydrogen/app/src/main/assets/

server/__pycache__/
