<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Hydrogen Asset Server Status</title>
    <style>
        html {
            font-family: sans-serif;
            background-color: #b0d7d3;
            text-align: center;
            width: 100%;
            height: 100%;
        }
        body {
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            background-color: white;
            width: 80%;
            height: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Resource not found</p>
</body>
</html>