<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hydrogen Asset Server Status</title>
    <style>
        html {
            font-family: sans-serif;
            background-color: #b0d7d3;
            text-align: center;
            width: 100%;
            height: 100%;
        }
        body {
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            background-color: white;
            width: 80%;
            height: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hydrogen Asset Server is live</h1>
    <p>
        <b>Assets Loaded</b>: {{ loaded_asset_count }} / {{ max_asset_count }}
    </p>
    <img src="https://i.imgur.com/LtxDNjf.gif\" alt="dancing cat gif">
</body>
</html>